
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #333;
}

h2 {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #333;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1024px;
}

header, footer, footer a {
    text-align: center;
    background-color: #333;
    color: #fcc1a1;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 10px ;
}
